<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ucsgamescape">

    <!---    PERMISSÕES    -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--*******************-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UcsGameScape">

<!--        <activity-->
<!--            android:name=".Class_LevelEasy"-->
<!--            android:exported="true"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity-->
<!--            android:name=".Class_LevelHard"-->
<!--            android:exported="true"-->
<!--            tools:ignore="Instantiatable" />-->
<!--        <activity-->
<!--            android:name=".Class_LevelMedium"-->
<!--            android:exported="true"-->
<!--            tools:ignore="Instantiatable" />-->
        <activity
            android:name=".HardActivity"
            android:exported="true" />
        <activity
            android:name=".MediumActivity"
            android:exported="true" />
        <activity
            android:name=".EasyActivity"
            android:exported="true" />
        <activity
            android:name=".NiveisActivity"
            android:exported="true" />
        <activity
            android:name=".photoUserActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>